a {
  color: inherit;
  font-family: 'IM Fell English', 'Georgia', serif;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: 'IM Fell English SC', 'Georgia', serif;
  text-align: center;
}

table {
  font-size: 2em;
  margin: auto;
}

td {
  text-align: left;
  vertical-align: middle;
}

th {
  padding: 0.5em;
}

.content {
  margin-top: 1em !important;
}

#footer {
  background: transparent;
  display: none;
  text-align: right;
}

#preso {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
