a {
  color: inherit;
  font-family: 'IM Fell English', 'Georgia', serif;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: 'IM Fell English SC', 'Georgia', serif;
  text-align: center;
}

.content {
  margin-top: 1em !important;
}

#footer {
  background: transparent;
  text-align: right;
}

#preso {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
